

section{
    display: flex;
    justify-content: center;
    position: relative;
    top: 10em;
}
.div-1{
    display: flex;
}

.div-h2{
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: aquamarine;
    border-radius: 1em;
    width: 8em;
    height: 1.5em;
    margin: 1em;
}
.div-h2:hover{
    background-color: rgb(95, 236, 189);
    width: 8.3em;
    height: 1.6em;
}
.div-h2:active{
    background-color: rgb(67, 221, 170);
    width: 8.4em;
    height: 1.7em;
}
.title{
    text-align: center;
    position: relative;
    top: 1.5em;
    color: #000;
    font-size: 5em;
    background-color: rgba(145, 236, 236, 0.466);
}
/* a{
    text-decoration: none;
} */